@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: Tahoma, Helvetica, sans-serif;
    background: #EBEBEB;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 16px;
}

span {
    margin: 2px 0;
    display: block;
}

h1.main-title {
    font-size: 28px;
    padding: 30px 10px;
    border-bottom: 2px dotted #DEDEDE;
    background: #F1F1F1;
    color: #70AAE4;
}

div.information-container {
    margin: 30px 60px 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px dotted #DEDEDE;
}

article.information-article {
    max-width: 60%;
    display: inline-block;
}

h2.information-title {
    margin-bottom: 10px;
}

label.information-label {
    margin-top: 15px;
    float: right;
    position: relative;
}

span.information-label-title {
    margin-bottom: 5px;
}

input[type="search"] {
    padding: 4px;
    outline: none;
    width: 200px;
}

label.information-label::after {
    font-size: 1.3em;
    font-family: FontAwesome, sans-serif;
    content: '\f002';
    position: absolute;
    left: 175px;
    top: 25px;
}

div.details-reservation-container {
    border-bottom: 2px dotted #DEDEDE;
}

div.personal-details-container {
    width: 200px;
    display: inline-block;
}

input.personal-details-input {
    padding: 5px;
    margin: 5px 0;
}

div.reservation-container {
    float: right;
    margin-bottom: 5px;
}

label.room-select-label,
label.room-quantity-label {
    display: inline-block;
}

#room-select {
    width: 300px;
}

input.room-quantity-input {
    width: 120px;
}

label.check-in-label,
label.check-out-label {
    display: inline-block;
}

input.check-out-input,
input.check-in-input {
    width: 200px;
}

div.button-container {
    margin-top: 20px;
    display: block;
}

button.book-btn {
    font-size: 1.2em;
    padding: 7px 25px;
    border: 1px solid #32A2E4;
    color: #ffffff;
    background: #32A2E4;
    border-radius: 5px;
    float: right;
    text-transform: capitalize;
}

button.book-btn:hover {
    border: 1px solid #3BBC96;
    background: #3BBC96;
    cursor: pointer;
}